form{
  width: 100%;
  margin-top: 10%;
}

.contact-selection{
  width: 100%;
  min-height: 100vh;
  
};

.container{
  width: 92%;
  margin: 0 auto;
}

.contact-section .form-box{
  max-width: 600px;
  background: rgba(0,0,0,0);
  padding: 35px;
  margin: 0 auto;
}

.contact-section .form-box form{
  width: 100%;
}

.contact-section .form-box form input{
  width: 100%;
  height: 45px;
  border: 1px solid #fa732a;
  padding: 0 20px;
  border-radius: 5px;
  background: transparent;
  margin-bottom: 10px;
  padding-top: 20px;
  color: #fff;
  outline: none;
}
.form-box form input[type="text"]{
  width: 49%;
}

.form-box form input[type="text"]:nth-child(2){
  float: right;
}

.form-box form input[type="submit"]{
  background-color: #fa732a;
  color: #fff;
  font-size: 18px;
  }

  .form-box form input[type="submit"]:hover{
    background-color: black;
    transition: 0.5 ease;
    cursor: pointer;
  }

  @media (max-width: 768px){
    .form-box{
      max-width: 100%
    }
    .form-box form input[type="text"]{
      width: 100%
    }
  };
    
  