.experiences h1 {
    margin-top: 5rem;
    font-family: var(--title-font);
    text-align: center;
    color: var(--primary);
    text-align: center;
}

.experiences h2 {
    margin-top: 5rem;
    font-family: var(--title-font);
    color: var(--primary);
    text-align: center;
}

.experience p {
    padding-inline: var(--spacing3);
    color: var(--light);
    font-size: var(--text-size);
  }

.experience {
    display: flex;
    margin-right: 5rem;
    margin-left: 5rem;
}

.image-eternite {
    background-image: url("../img/Illidan-eternite.jpg");
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 50%;
    margin-top: var(--spacing5);
}

.eternite {
    align-self: center;
    width: 45%;
}

#titi {
    flex-direction: row-reverse;
}

.image-tychondrius {
    background-image: url("../img/Illidan-tychondrius.jpg");
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 50%;
    margin-top: var(--spacing5);
}

.tychondrius {
    align-self: center;
    width: 45%;
}

.image-arthas {
    background-image: url("../img/Illidan-arthas");
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 50%;
    margin-top: var(--spacing5);
}

.arthas {
    align-self: center;
    width: 45%;
}

#illi {
    flex-direction: row-reverse;
}

.image-illidari {
    background-image: url("../img/Illidan-illidari.jpg");
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 50%;
    margin-top: var(--spacing5);
}

.illidari {
    align-self: center;
    width: 45%;
}