@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

:root {
  /* Declare variables here */
  --primary: #6dc03c;
  --primary-opacity: #52922dab;
  --primary-light: #a2ff6d;
  --primary-dark: #567251;
  --intermediate: #9e3e11;
  --light: #f1f3e7;
  --dark: #141414;

  --title-font: "Burning Wrath";
  --text-font: "Nunito Sans", sans-serif;
  --text-size: 1.3rem;
  --title-size: clamp(2rem, -1.5rem + 8vw, 2.6rem);

  --sidebar-width: 260px;
  --nav-height: 65px;

  --spacing: 0.5rem;
  --spacing2: calc(2 * var(--spacing));
  --spacing3: calc(3 * var(--spacing));
  --spacing4: calc(4 * var(--spacing));
  --spacing5: calc(5 * var(--spacing));
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #171717;
  background-image: url("../img/black-paper.png");
  line-height: 1.5;
}

p,
a,
li,
span {
  font-family: var(--text-font);
  font-size: var(--text-size);
}

.wrapper {
  display: flex;
}

main {
  width: calc(100% - var(--sidebar-width));
}

.divider {
  height: 20px;
  width: 100%;
  background-image: url("../img/ui_divider.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.title-container {
  display: flex;
  justify-content: center;
}

.left-img-title {
  margin-top: 5.4rem;
  width: 15%;
  height: 35px;
  background-image: url("../img/left_title.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.right-img-title {
  margin-top: 5.4rem;
  width: 15%;
  height: 35px;
  background-image: url("../img/right_title.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url("../img/bg_home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.home h1 {
  color: var(--light);
  font-family: var(--title-font);
  font-size: calc(var(--title-size) * 1.2);
}

.qualites h1 {
  margin-top: 5rem;
  margin-bottom: var(--spacing4);
  font-family: var(--title-font);
  font-size: var(--title-size);
  text-align: center;
  color: var(--primary);
}
.skills h1 {
  margin-top: 5rem;
  margin-bottom: var(--spacing4);
  font-family: var(--title-font);
  font-size: var(--title-size);
  text-align: center;
  color: var(--primary);
}
/* SKILLS */
.skill-wrapper {
  --card-size: 50px;
  margin-inline: var(--spacing) var(--spacing);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-size), 1fr));
  gap: var(--spacing);
  justify-items: center;
}

.skill-wrapper div h2 {
  margin-top: 2rem;
  font-family: var(--title-font);
  color: var(--primary);
  text-align: center;
}

.skill-wrapper > div {
  margin-bottom: var(--spacing3);
}

/* End of Skills */
.quality-wrapper {
  padding-inline: 10%;
  --card-size: 300px;
  margin-inline: var(--spacing) var(--spacing);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-size), 1fr));
  gap: var(--spacing);
}

.quality-wrapper > div {
  box-shadow: 0 0 6px var(--primary-dark);
}

.quality-wrapper img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.quality-wrapper div h2 {
  margin-top: 5rem;
  font-family: var(--title-font);
  color: var(--primary);
  text-align: center;
}

.qualites p {
  padding-inline: var(--spacing3);
  color: var(--light);
  font-size: var(--text-size);
}
.quality-wrapper > div {
  background-color: #000000;
  background-image: url("../img/black-paper.png");
  margin-bottom: var(--spacing5);
}

.experiences {
  width: 80%;
  margin-inline: auto;
}

.experiences h1 {
  margin-top: 5rem;
  font-size: var(--title-size);
  font-family: var(--title-font);
  text-align: center;
  color: var(--primary);
}

.experiences h2 {
  font-family: var(--title-font);
  font-size: calc(var(--title-size) / 1.5);
  color: var(--primary);
  text-align: center;
}

.experiences p {
  color: var(--light);
  font-size: var(--text-size);
  padding-inline: var(--spacing3);
}

.experience {
  display: flex;
  margin-block-end: var(--spacing4);
  background-color: #000000;
  background-image: url("../img/black-paper.png");
}

.experience-reverse {
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--spacing4);
  background-color: #000000;
  background-image: url("../img/black-paper.png");
}

.experience img {
  object-fit: cover;
  height: 320px;
  width: 55%;
}

.experience-reverse img {
  object-fit: cover;
  height: 320px;
  width: 55%;
}

.experience-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.formation h1 {
  margin-top: 5rem;
  font-family: var(--title-font);
  color: var(--primary);
  font-size: var(--title-size);
}

.image-formation {
  background-image: url("../img/formation_temple_noir.png");
  background-size: cover;
  background-position: center;
  height: 20rem;
  width: 80%;
  margin-inline: auto auto;
  margin-top: var(--spacing5);
}

.formations {
  width: 80%;
  margin-inline: auto;
  background-color: #000000;
  background-image: url("../img/black-paper.png");
}

.formation h2 {
  padding-top: var(--spacing5);
  margin-top: 0;
  margin-left: var(--spacing4);
  color: var(--primary);
  font-family: var(--title-font);
}

.formation p {
  padding-inline: var(--spacing4);
  padding-bottom: var(--spacing3);
  color: var(--light);
  font-family: var(--text-font);
  font-size: var(--text-size);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--nav-height);
  color: var(--primary-dark);
  background-image: url("../img/bg_nav.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

footer > div {
  display: flex;
}

footer svg {
  fill: var(--primary);
  margin-block-start: var(--spacing);
}

footer svg:hover {
  fill: var(--primary-light);
}

footer a {
  color: var(--primary-dark);
  margin-inline: var(--spacing2);
  text-decoration: none;
}

footer a:hover {
  color: var(--light);
}

@media screen and (max-width: 1008px) {
  .experience {
    flex-direction: column;
  }
  .experience-reverse {
    flex-direction: column-reverse;
  }
  .experience img {
    object-fit: cover;
    height: 320px;
    width: 100%;
  }

  .experience-reverse img {
    object-fit: cover;
    height: 320px;
    width: 100%;
  }
}

@font-face {
  font-family: "Burning Wrath";
  src: url("../fonts/BurningWrath.woff2") format("woff2"),
    url("../fonts/BurningWrath.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media screen and (min-width: 790px) {
  .skills {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  footer > div {
    flex-direction: column;
  }
  footer > div span {
    display: none;
  }
  footer > div a {
    margin-inline-end: 0;
  }
  footer {
    height: calc(var(--nav-height) + 10px);
  }
}
