@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

:root {
  /* Declare variables here */
  --primary: #6dc03c;
  --primary-opacity: #52922dab;
  --primary-light: #a2ff6d;
  --primary-dark: #282c13;
  --intermediate: #9e3e11;
  --light: #f1f3e7;
  --dark: #141414;

  --title-font: "Burning Wrath";
  --text-font: "Nunito Sans", sans-serif;
  --text-size: 1.3rem;
  --title-size: clamp(35px, 2.6em, 45px);

  --sidebar-width: 260px;
  --nav-height: 65px;

  --spacing: 0.5rem;
  --spacing2: calc(2 * var(--spacing));
  --spacing3: calc(3 * var(--spacing));
  --spacing4: calc(4 * var(--spacing));
  --spacing5: calc(5 * var(--spacing));
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--dark);
  line-height: 1.5;
}

p,
a,
li,
span {
  font-family: var(--text-font);
  font-size: var(--text-size);
}

.wrapper {
  display: flex;
}

main {
  width: calc(100% - var(--sidebar-width));
}

.divider {
  height: 20px;
  width: 100%;
  background-image: url("../img/ui_divider.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url("../img/bg_home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.home h1 {
  color: var(--light);
  font-family: var(--title-font);
  font-size: calc(var(--title-size) * 1.2);
}

.qualites h1 {
  margin-top: 5rem;
  margin-bottom: var(--spacing4);
  font-family: var(--title-font);
  font-size: var(--title-size);
  text-align: center;
  color: var(--primary);
}

.quality-wrapper {
  --card-size: 300px;
  margin-inline: var(--spacing) var(--spacing);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-size), 1fr));
  gap: var(--spacing);
}

.quality-wrapper div h2 {
  margin-top: 5rem;
  font-family: var(--title-font);
  color: var(--primary);
  text-align: center;
}

.qualites p {
  padding-inline: var(--spacing3);
  color: var(--light);
  font-size: var(--text-size);
}

.image-qualite1 {
  height: 20rem;
  background-image: url("../img/Illidan-quality1.jpg");
  background-size: cover;
  background-position: center;
}

.image-qualite2 {
  height: 20rem;
  background-image: url("../img/Illidan-quality2.jpg");
  background-size: cover;
  background-position: center;
}

.image-qualite3 {
  height: 20rem;
  background-image: url("../img/Illidan-quality3.webp");
  background-size: cover;
  background-position: center;
}

.quality-wrapper > div {
  background-image: url("../img/black-background-stone.png");
  background-size: cover;
  background-position: center;
  margin-bottom: var(--spacing5);
}

.experiences h1 {
  margin-top: 5rem;
  font-size: var(--title-size);
  font-family: var(--title-font);
  text-align: center;
  color: var(--primary);
}

.experiences h2 {
  margin-top: 5rem;
  font-family: var(--title-font);
  color: var(--primary);
  text-align: center;
}

.experience p {
  padding-inline: var(--spacing3);
  color: var(--light);
  font-size: var(--text-size);
}

.experience {
  display: flex;
  margin-right: 5rem;
  margin-left: 5rem;
}

.image-eternite {
  background-image: url("../img/Illidan-eternite.jpg");
  background-size: cover;
  background-position: center;
  height: 30rem;
  width: 50%;
  margin-top: var(--spacing5);
}

.eternite {
  align-self: center;
  width: 45%;
}

.image-tychondrius {
  background-image: url("../img/Illidan-tychondrius.jpg");
  background-size: cover;
  background-position: center;
  height: 30rem;
  width: 50%;
  margin-top: var(--spacing5);
}

.tychondrius {
  align-self: center;
  width: 45%;
}

.image-arthas {
  background-image: url("../img/Illidan-arthas");
  background-size: cover;
  background-position: center;
  height: 30rem;
  width: 50%;
  margin-top: var(--spacing5);
}

.arthas {
  align-self: center;
  width: 45%;
}

.image-illidari {
  background-image: url("../img/Illidan-illidari.jpg");
  background-size: cover;
  background-position: center;
  height: 30rem;
  width: 50%;
  margin-top: var(--spacing5);
  margin-bottom: var(--spacing5);
}

.illidari {
  align-self: center;
  width: 45%;
}

.formation h1 {
  margin-top: 5rem;
  font-family: var(--title-font);
  text-align: center;
  color: var(--primary);
  font-size: var(--title-size);
}

.image-formation {
  background-image: url("../img/formation_temple_noir.png");
  background-size: cover;
  background-position: center;
  height: 20rem;
  width: 60%;
  margin-inline: auto auto;
  margin-top: var(--spacing5);
}

.formations {
  width: 60%;
  margin-inline: auto auto;
  background-image: url("../img/texturepierre.jpg");
  background-size: cover;
  background-position: center;
}

.formation h2 {
  padding-top: 4rem;
  margin-top: 0;
  text-align: center;
  color: var(--primary);
  font-family: var(--title-font);
}

.formation p {
  padding-inline: var(--spacing4);
  color: var(--light);
  font-family: var(--text-font);
  font-size: var(--text-size);
}

@font-face {
  font-family: "Burning Wrath";
  src: url("../fonts/BurningWrath.woff2") format("woff2"),
    url("../fonts/BurningWrath.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px rgb(189, 245, 178), 0 0 2px rgb(189, 245, 178),
      0 0 3px #aac800, 0 0 4px #aac800, 0 0 5px #aac800, 0 0 6px #aac800,
      0 0 7px #aac800;
  }
  to {
    text-shadow: 0 0 2px rgb(189, 245, 178), 0 0 3px #aac800, 0 0 4px #aac800,
      0 0 5x #aac800, 0 0 6px #aac800, 0 0 7px #aac800, 0 0 8px #aac800;
  }
}
