nav {
  position: fixed;
  width: 100%;
  height: 75px;
  width: 100%;
  background-image: url(../img/bg_nav.jpg);
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-inline: 1.5rem;
  font-size: 1.5rem;
  list-style: none;
}

nav ul li a {
  color: var(--primary-text-color);
  text-decoration: none;
}
