nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: var(--nav-height);
  background-image: url("../img/bg_nav.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

nav div {
  display: flex;
  align-items: center;
  width: 700px;
}

nav div img {
  margin-left: var(--spacing);
}

nav h2 {
  font-size: var(--text-size);
  color: var(--primary);
  font-family: "Burning Wrath";
  margin-left: var(--spacing3);
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-right: var(--spacing2);
  font-size: var(--text-size);
  list-style: none;
}

nav ul li a {
  color: var(--primary-light);
  text-decoration: none;
}

nav ul li a:hover {
  text-shadow: 0 0 1px rgb(172, 255, 155), 0 0 2px rgb(189, 245, 178),
    0 0 3px #aac800, 0 0 4px #aac800, 0 0 5px #aac800, 0 0 6px #aac800,
    0 0 7px #aac800;
}

.burger {
  display: none;
  fill: var(--primary);
  margin-block: auto auto;
  margin-right: var(--spacing3);
}

.items:target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  position: fixed;
  margin: 0;
  top: calc(var(--nav-height) - 2px);
  right: 0;
  background-image: url("../img/bg_section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: burger 0.2s ease-in;
}

@keyframes burger {
  from {
    translate: 100% 0;
  }
  to {
    translate: 0 0;
  }
}

@media screen and (max-width: 845px) {
  nav ul {
    display: none;
  }

  .burger {
    display: initial;
  }
}

/*
@keyframes glow {
  from {
    text-shadow: 0 0 0px rgb(172, 255, 155), 0 0 0px rgb(189, 245, 178),
      0 0 1px #aac800, 0 0 2px #aac800, 0 0 3px #aac800, 0 0 4px #aac800,
      0 0 5px #aac800;
  }
  to {
    text-shadow: 0 0 0px rgb(172, 255, 155), 0 0 1px rgb(189, 245, 178),
      0 0 2px #aac800, 0 0 3px #aac800, 0 0 4px #aac800, 0 0 5px #aac800,
      0 0 6px #aac800;
  }
}
*/
