
.sidebar {
  position: sticky;
  top: 0;
  overflow: auto;
  background-color: black;
  height: 100vh;
  width: 18%;
  vertical-align: top;
  border-right: solid 1px var(--primary-opacity);
}

.sidebar > div {
  height: 20rem;
  background-image: url("../img/bg_sidebar.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.sidebar h4 {
  color: rgb(189, 245, 178);
  margin-block-start: 0;
  margin-block-end: var(--spacing2);
  text-align: center;
  font-family: "Burning Wrath";
  animation: glow 1s ease-in-out infinite alternate;
}

h4.skills {
  margin-block-start: var(--spacing4);
}

.sidebar ul li {
  color: #aac800;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  line-height: 3rem;
  text-decoration: none;
  padding-left: 2.5rem;
  font-family: "Trochut";
  font-family: var(--text-font);
  
}

.sidebar .icone-contact, .sidebar .icone-skill {
  width: 20px;
  margin-inline-end: var(--spacing2);
}
.sidebar .icone-skill {
  width: 25px;
  margin-inline-end: var(--spacing2);
}

